@use "./partials/variables" as *;
@use "./partials/mixins" as *;

@import "~bootstrap/scss/bootstrap";

h1 {
    color: $primary_color;
}

img {
    max-width: 250px;
}

label {
    display: block;
}

a {
    text-decoration: none;
    margin-right: 10px;
    font-size: 1.5rem;
}
